---
import { getCollection } from 'astro:content';
import { Pagination, Card } from 'accessible-astro-components';
import BaseHead from '../../components/base/BaseHead.astro';
import Header from '../../components/base/Header.astro';
import Footer from '../../components/base/Footer.astro';


export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const postTags = new Map();

  posts.forEach(post => {
    const tags = post.data.tags || [];

    tags.forEach(tag => {
      if (!postTags.get(tag)) {
        postTags.set(tag, []);
      }

      postTags.get(tag).push(post);
    });
  });

  return [...postTags.entries()].map(([tag, posts]) => ({
    params: { tag },
    props: { posts }
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={tag.toUpperCase().replace('-', ' ')} description={`Tag archive for ${tag.replace('-', ' ')}`}  />
  </head>

  <body>
    <Header />
    <main>
      <h1 class="text-3xl p-5">Tag: {tag.toUpperCase().replace('-', ' ')}</h1>

      

      <!--List the array of blog posts with the tag-->
      <div class="md:grid lg:grid-cols-3 md:grid-cols-2 md:gap-4 md:mx-auto text-lg">
        {posts
          .filter(blogPostEntry => blogPostEntry.data.tags.includes(tag))
          .sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate))
          .map(blogPostEntry => (
            <div class="relative p-3">
              <Card
                url={`/${blogPostEntry.slug}`}
                img={blogPostEntry.data.heroImage}
                title={blogPostEntry.data.title}
                footer=""
              >
                <p class="m-5">{blogPostEntry.data.description}</p>
              </Card>
              <button>
                <a href={`/${blogPostEntry.slug}`} class="absolute hidden md:flex bottom-5 right-5 btn">
                  Read More
                </a>
              </button>
            </div>
          ))}
      </div>
      

    </main>
    <Footer />
  </body>
</html>