---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/base/BaseHead.astro';
import Footer from '../components/base/Footer.astro';
import Header from '../components/base/Header.astro';
import Infinity from '../components/blog/Infinity.astro';
import TableOfContents from '../components/blog/TableOfContents.astro';





type Props = CollectionEntry<'blog'>['data'];

const { frontmatter,headings } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div id="meta" class="bg-primary-600 text-white-50 p-20">
					<h1 class="title font-display flex justify-center place-items-center text-3xl md:text-6xl">{frontmatter.title}</h1>
				
							<div class="flex justify-center place-items-center text-xl md:text-3xl mt-5">
								<p>Last updated on {frontmatter.updatedDate}</p>
							</div>
					</div>
				<hr />
				<div>
					<div class="mx-auto grid grid-cols-12">
			
						<div class="prose prose-slate prose-xl md:prose-lg col-span-10 col-start-2 col-end-12 md:col-span-6  md:col-start-4 md:col-end-10 mx-auto">
							<h2>Table of Contents</h2>
							<TableOfContents headings={headings} />
							<slot />
				<Infinity></Infinity>
			
						</div>
					</div>
				</div>
				
			</article>
			<div class="bg-primary-600 text-white-50 p-20 text-xl md:text-2xl">
				<ul class="list-none flex justify-evenly gap-x-4">
				  <li>Author: <a href="/authors/susan-silver" class="border-b-4 border-black-900 hover:text-black-900">{frontmatter.author.charAt(0).toUpperCase() + frontmatter.author.slice(1)}</a></li>
				  <li><i class="fa-solid fa-user-astronaut text-secondary-200 fa-2xl"></i></li>
				  <li>Category: <a class="border-b-4 border-black-900 hover:text-black-900" href={`/category/${frontmatter.categories}`}>{frontmatter.categories.charAt(0).toUpperCase() + frontmatter.categories.slice(1)}</a></li>
				  <li><i class="fa-solid fa-satellite text-secondary-200 fa-2xl"></i></li>
				  <li>
					Tags: {frontmatter.tags.map((tag, index) => (
					<span>
					  <a class="border-b-4 border-black-900 hover:text-black-900" href={`/tag/${tag}`}>{tag.charAt(0).toUpperCase() + tag.slice(1).replace(/-/g, ' ')}</a>
					  {index === frontmatter.tags.length - 1 ? "" : ","}
					</span>
					))}
				  </li>
				</ul>
			  </div>
		</main>
		<Footer />
	</body>
</html>
